body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: #0B2434;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Karla', sans-serif;
  font-size: 16px;
}

.game {
  width: 286px;
  height: 286px;
  padding: 34px;
  text-align: center;
  background: #F5F5F5;
  border-radius: 10px;
}

.game__header {
  font-size: 1.5625rem;
  margin: 0 0 10px 0;
}

.game__rolls {
  font-size: 0.7rem;
}

.game__description {
  color: #4A4E74;
  font-family: 'Inter', sans-serif; 
  font-style: normal;
  font-size: 0.8125rem;
  max-width: 232px;
  margin: 0 auto;
  font-weight: 400;
  line-height: 16px;
}

.game__buton {
  padding: 12px 32px;
  font-weight: bold;
  background: #5035FF;
  color: #ffffff;
  box-shadow: 0px 3.2px 7.68px rgba(0, 0, 0, 0.18);
  border: none;
  font-size: 1.024rem;
  border-radius: 4px;
  cursor: pointer;
}

.game__buton:hover {
  opacity: .9;
}

.game__die {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 18px;
  margin: 25px 0;
  align-items: center;
  justify-items: center;
}

/* Dice */

.game__item {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  background: #FFFFFF;
  cursor: pointer;
  padding: 4px;
  width: 26px;
  height: 26px;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-areas:
    "lt t rt"
    "lm m rm" 
    "lb b rb";
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.game__item.isHeld {
  background: #59E391;
}

.dot {
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color:#000;
}

.game__item-1 > .dot-1 { grid-area: m; }

.game__item-2 > .dot-1, 
.game__item-4 > .dot-1,
.game__item-5 > .dot-1,
.game__item-6 > .dot-1 { grid-area: lt; }

.game__item-2 > .dot-2,
.game__item-4 > .dot-4,
.game__item-5 > .dot-5,
.game__item-6 > .dot-6  { grid-area: rb; }

.game__item-3 > .dot-1,
.game__item-5 > .dot-4,
.game__item-4 > .dot-3,
.game__item-6 > .dot-5 {grid-area: lb;} 

.game__item-3 > .dot-2,
.game__item-5 > .dot-3 {grid-area: m;}

.game__item-3 > .dot-3,
.game__item-4 > .dot-2,
.game__item-5 > .dot-2,
.game__item-6 > .dot-2 {grid-area: rt;}

.game__item-6 > .dot-3 {grid-area: lm;}

.game__item-6 > .dot-4 {grid-area: rm;}

